[package]
name = "pbe-wallet"
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
opt-level = "z"

[dependencies]
clap = { version = "4.0", features = ["derive"] }
aes-gcm = "0.10"
pbkdf2 = "0.12"
sha2 = "0.10"
rand = "0.8"
hex = "0.4"
